.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.contactItem {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}